.layout {
    display: flex;
}
.result {
    display: none; /* Initially hidden */
    flex-direction: column;
    gap: 20px;
    padding-left: 500px;
    align-items: center;
}
.content, 
#mostBusyUsersContainer, 
#mostCommonWordsContainer, 
#wordCloudContainer, 
#emojiGraphContainer, 
#timelineGraphContainer {
    color: black;
    width: 100%;
}
#mostBusyUsersContainer, 
#mostCommonWordsContainer{
    padding: 10px;
    border-radius: 10px;
    border: none;;
    background-color: #e3e3e3;
}

/* Sidebar Styles */
.sidebar {
    position: fixed;
    left: 0;
    top: 50px;
    width: 250px;
    background-color: transparent;
    padding: 15px;
    height: 100vh;
    overflow-y: auto;
}
.sidebar h4 {
    margin-bottom: 10px;
}
.form-group {
    margin-bottom: 15px;
}
.btn {
    background-color: #828282;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
}
.btn:hover {
    background-color: #333;
}

/* Content Styles */
.content {
    flex-grow: 1;
    padding: 20px;
}
.stats {
    display: flex;
    gap: 20px;
}
.stats div {
    background-color: #e3e3e3;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
}