{% extends "base.html" %}
{% block title %}Sentiment Analysis File{% endblock %}
{% block content %}

<div class="layout">
    <!-- Sidebar -->
    <div class="sidebar">
        <h4>Upload a File</h4>
        <form method="post" enctype="multipart/form-data" action="{{ url_for('sentiment_analysis_file') }}">
            <div class="form-group">
                <label for="file">Choose a file:</label>
                <input type="file" id="file" name="file">
            </div>
            <input type="submit" value="Upload" class="btn">
        </form>

        {% if show_analysis %}
        <hr>
        <h4>Unique Users</h4>
        <div class="form-group">
            <select id="userDropdown" name="userDropdown" onchange="updateSelectedUser()">
                {% for user in user_list %}
                <option value="{{ user }}">{{ user }}</option>
                {% endfor %}
            </select>
            <input type="hidden" id="selected_user" name="selected_user">
        </div>
        <hr>
        <button id="showAnalysisBtn" class="btn">Show Analysis</button>
        {% endif %}
    </div>

<!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{{ url_for('static', filename='js/sentiment.js') }}"></script> -->
{% endblock %}
