{% extends "base.html" %}
{% block title %}Upload File{% endblock %}
{% block content %}

<div class="layout">
    <!-- Sidebar -->
    <div class="sidebar">
        <h4>Upload a File</h4>
        <form method="post" enctype="multipart/form-data" action="{{ url_for('upload_file') }}">
            <div class="form-group">
                <label for="file">Choose a file:</label>
                <input type="file" id="file" name="file">
            </div>
            <input type="submit" value="Upload" class="btn">
        </form>

        {% if show_analysis %}
        <hr>
        <h4>Unique Users</h4>
        <div class="form-group">
            <select id="userDropdown" name="userDropdown" onchange="updateSelectedUser()">
                {% for user in user_list %}
                <option value="{{ user }}">{{ user }}</option>
                {% endfor %}
            </select>
            <input type="hidden" id="selected_user" name="selected_user">
        </div>
        <hr>
        <button id="showAnalysisBtn" class="btn">Show Analysis</button>
        {% endif %}
    </div>

    <!-- Result Container -->
     <div class="result">
        <div class="content">
            <h3>Analysis Results</h3>
            <div class="stats">
                <div>
                    <h4>Total Messages</h4>
                    <p id="totalMessages"></p>
                </div>
                <div>
                    <h4>Total Words</h4>
                    <p id="totalWords"></p>
                </div>
                <div>
                    <h4>Media Shared</h4>
                    <p id="mediaShared"></p>
                </div>
                <div>
                    <h4>Links Shared</h4>
                    <p id="totalLinks"></p>
                </div>
            </div>
        </div>
        <div class="result-content">
            <h4>Most Busy Users</h4>
            <div id="mostBusyUsersContainer" class="result-section"></div>
        </div>
        <div class="result-content">
            <h4>Most Common Words</h4>
            <div id="mostCommonWordsContainer" class="result-section"></div>
        </div>
        <div class="result-content">
            <h4>Word Cloud</h4>
            <div id="wordCloudContainer" class="result-section"></div>
        </div>
        <div class="result-content">
            <h4>Emoji graph</h4>
            <div id="emojiGraphContainer" class="result-section"></div>
        </div>
        <div class="result-content">
            <h4>Timeline Graph</h4>
            <div id="timelineGraphContainer" class="result-section"></div>
        </div>
     </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{{ url_for('static', filename='js/upload.js') }}"></script>
{% endblock %}
